@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

/* Applied to the whole document */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(ellipse, rgb(105, 9, 92), rgb(114, 13, 97), rgb(66, 4, 95));
    font-family: 'Fleur De Leah', cursive;
    background-image: url(../images/forest.webp);
}

/* The title */
h1 {
    padding: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Fleur De Leah', cursive;
    font-size: 130px;
    text-shadow:
        0 0 8px rgb(255, 255, 255),
        0 0 11px rgb(255, 255, 255),
        0 0 22px rgb(255, 255, 255),
        0 0 40px rgb(0, 0, 0),
        0 0 85px rgb(0, 0, 0),
        0 0 93px rgb(0, 0, 0),
        0 0 101px rgb(0, 0, 0),
        0 0 149px rgb(0, 0, 0);
}

/* The game board */
.game-board {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
    position: relative;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
}

/* Game tiles */
.tile {
    margin: 10px;
    color: white;
    font-size: 45px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    text-shadow:
        0 0 8px rgb(255, 255, 255),
        0 0 11px rgb(255, 255, 255),
        0 0 22px rgb(255, 255, 255),
        0 0 40px rgb(6, 236, 159),
        0 0 85px rgb(222, 255, 34),
        0 0 93px rgb(0, 255, 170),
        0 0 101px rgb(0, 255, 170),
        0 0 149px rgb(225, 250, 4);
}

/* Strike lines */
.strike {
    position: absolute;
    background-color: red;
}

.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 16%;
}

.strike-row-2 {
    width: 100%;
    height: 4px;
    top: 49%;
}

.strike-row-3 {
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-column-1 {
    height: 100%;
    width: 4px;
    left: 16%;
}

.strike-column-2 {
    height: 100%;
    width: 4px;
    left: 49%;
}

.strike-column-3 {
    height: 100%;
    width: 4px;
    left: 83%;
}

.strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}

.strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(-45deg);
}

/* Game over area */
#game-over-container {
    text-align: center;
    border: 6px solid white;
    padding: 20px;
    width: 20%;
    margin-top: 20px;
    background-color: black;
    border-radius: 10%;
}

/* Text in the game over area */
h2 {
    color: red;
    font-size: 40px;
}

/* The restart button */
button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Fleur De Leah', cursive;
    cursor: pointer;
}

button:hover {
    text-shadow:
    0 0 8px rgb(255, 255, 255),
    0 0 11px rgb(255, 255, 255),
    0 0 22px rgb(255, 255, 255),
    0 0 40px rgb(6, 236, 159),
    0 0 85px rgb(222, 255, 34),
    0 0 93px rgb(0, 255, 170),
    0 0 101px rgb(0, 255, 170),
    0 0 149px rgb(225, 250, 4);
}

/* Classes to hide elements or make them visible */
.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Hover */
.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}