@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

/* Applied to the whole document */
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(ellipse, rgb(105, 9, 92), rgb(114, 13, 97), rgb(66, 4, 95));
    font-family: 'Fleur De Leah', cursive;
}

h1 {
    color: white;
    font-family: 'Fleur De Leah', cursive;
    font-size: 120px;
    padding: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
}

.tile {
    margin: 10px;
    color: white;
    font-size: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

/* Strike lines */
.strike {
    position: absolute;
    background-color: red;
}

.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 16%;
}

.strike-row-2 {
    width: 100%;
    height: 4px;
    top: 49%;
}

.strike-row-3 {
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-column-1 {
    height: 100%;
    width: 4px;
    left: 16%;
}

.strike-column-2 {
    height: 100%;
    width: 4px;
    left: 49%;
}

.strike-column-3 {
    height: 100%;
    width: 4px;
    left: 83%;
}

.strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}

.strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(-45deg);
}

/* Game over area */
#game-over-container {
    text-align: center;
    border: 8px solid white;
    padding: 20px;
    width: 20%;
    margin-top: 20px;
}

h2 {
    color: white;
    font-size: 40px;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 20px;
    margin-top: 10px;
    font-size: 40px;
    font-family: 'Fleur De Leah', cursive;
}

/* Test classes */
.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Hover */
.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}